# API
fastapi
uvicorn[standard]
pydantic
python-multipart

# Embeddings + RAG
sentence-transformers
faiss-cpu
numpy
scipy
onnxruntime-gpu==1.20.1
# LLM
google-genai

# STT
faster-whisper

# TTS
kokoro

# HTTP + Cache
httpx
cachetools
psycopg2-binary